[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://www.nextragen.de/uploads/pics/Icon_TraceView3Q_2011.png
URL=http://www.abkuerzungen.de/result.php?searchterm=%%XISTR%%&language=de&style=standard&x=0&y=0
Comment=Abkuerzung eingeben:
