[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://valdetb.files.wordpress.com/2012/07/dasoertliche.png
URL=http://www1.dastelefonbuch.de/?ort=&ckrid=&s=a10000&cmd=search&ort_ok=0&vert_ok=0&ciid=&rgid=&kgs=&district=&pcZVO=&cx=&cy=&radius=&sp=0&aktion=23&kw=%%XISTR%%
Comment=Name oder Telefonnummer:
