[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://valdetb.files.wordpress.com/2012/07/dasoertliche.png
URL=http://www1.dasoertliche.de/Controller?quarterfilter=&zvo_ok=&book=&plz=&quarter=&district=&ciid=&pc=%%XINUM%%&image=Finden&buc=&kgs=&searchType=plz&buab=&zbuab=&page=210&context=5&action=43&form_name=search_pc
Comment=Postleitzahl:
