[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://cdn.appato.com/alexandr-lobanov/dict4all/icon/256
URL=http://dict.leo.org/ende?lp=ende&lang=en&searchLoc=0&cmpType=relaxed&sectHdr=on&spellToler=&search=%%XISTR%%
Comment=Suchbegriff eingeben:
