[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://cdn.appato.com/alexandr-lobanov/dict4all/icon/256
URL=http://dict.leo.org/itde/index_de.html#/search=%%XISTR%%&searchLoc=0&resultOrder=basic&multiwordShowSingle=on
Comment=Suchbegriff eingeben:
