[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://www.clipart-fr.com/en/data/icons/set_02/icones_00856.png
URL=https://maps.google.com/maps?hl=de&q=%%XISTR%%
Comment=Suchbegriff eingeben:
