[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://cdn1.iconfinder.com/data/icons/socialsketches/256/google.png
URL=https://www.google.com/search?num=10&hl=de&site=&tbm=isch&source=hp&biw=1600&bih=718&q=%%XISTR%%
Comment=Bild-Suchbegriff eingeben:
