[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://www.michaelbud.com/wp-content/uploads/2012/11/google-icon.png
URL=https://www.google.de/?search#hl-de&q=%%XISTR%%
Comment=Suchbegriff eingeben:
