[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://www.nextragen.de/uploads/pics/Icon_TraceView3Q_2011.png
URL=http://www.wie-sagt-man-noch.de/synonyme/%%XISTR%%.html
Comment=Wort eingeben:
