[Desktop Entry]
Icon=video-x-generic
Type=Link
URL=plugin://plugin.video.youtube/?feed=search&path=%2froot%2fsearch&search=
LogoURL=http://www.iconattitude.com/icons/fasticon.com/social-icons-2012-vector/png/256/youtube.png