[Desktop Entry]
Icon=application-rss+xml
Type=Link
MType=rss
LogoURL=http://www.abendblatt.de/img/kultur-live/crop109321452/5190692067-ci3x2l-h307/title.jpg
URL=http://www.abendblatt.de/?service=Rss
