[Desktop Entry]
Icon=application-rss+xml
Type=Link
MType=rss
URL=http://feeds.newscientist.com/online-news
LogoURL=http://www.newscientist.com/img/misc/ns_logo.jpg
