[Desktop Entry]
Icon=application-rss+xml
Type=Link
MType=rss
LogoURL=http://www.rhein-zeitung.de/pu_rz/images/logo.gif
URL=http://www.rhein-zeitung.de/feed/5-newsticker.xml
