[Desktop Entry]
Icon=application-rss+xml
Type=Link
MType=rss
LogoURL=http://www.tagesschau.de/image/podcast/ts-600.jpg
URL=http://www.tagesschau.de/xml/rss2
