[Desktop Entry]
Icon=audio-x-generic
Type=Link
MType=radio
LogoURL=http://fan-fest-hamburg.de/wp-content/uploads/2012/05/Logo-Alsterradio.jpg
URL=http://live96.106acht.de/listen.pls
