[Desktop Entry]
Icon=audio-x-generic
Type=Link
MType=radio
LogoURL=http://www.dradio.de/images/64553/square/
URL=http://www.dradio.de/streaming/dlf.m3u
