[Desktop Entry]
Icon=audio-x-generic
Type=Link
MType=radio
LogoURL=http://static.audioaddict.com/5fe8da68c08afeba771f1c0a5ba6bc2f.png
URL=http://listen.di.fm/public3/breaks.pls
