[Desktop Entry]
Icon=audio-x-generic
Type=Link
MType=radio
LogoURL=http://radiobeta.com/images/radios/big/logo0_1292506981-diradio.jpg
URL=http://listen.di.fm/public3/minimal.pls
