[Desktop Entry]
Icon=audio-x-generic
Type=Link
MType=radio
LogoURL=http://static.audioaddict.com/1/5/6/1/b/a/1561ba009eb79c68b9de141f8685c927.png
URL=http://listen.di.fm/public3/darkdnb.pls
