[Desktop Entry]
Icon=audio-x-generic
Type=Link
MType=radio
LogoURL=http://www.dradio.de/images/64554/square/
URL=http://www.dradio.de/streaming/dradiowissen.m3u
