[Desktop Entry]
Icon=audio-x-generic
Type=Link
MType=radio
LogoURL=http://radio.de/images/broadcasts/1730_4.png
URL=http://avw.mdr.de/livestreams/mdr_klassik_live_128.m3u
