[Desktop Entry]
Icon=audio-x-generic
Type=Link
MType=radio
LogoURL=http://www.kannmann.de/kannmann.de/images/N-JOY.jpg
URL=http://www.ndr.de/resources/metadaten/audio/m3u/n-joy.m3u
