[Desktop Entry]
Icon=audio-x-generic
Type=Link
MType=radio
LogoURL=http://a4.mzstatic.com/us/r1000/092/Purple/ec/7f/e3/mzl.wqrfjbtd.175x175-75.jpg
URL=http://62.75.176.45/rtl-high
