[Desktop Entry]
Icon=video-x-generic
Type=Link
MType=vstream
LogoURL=http://www.hdtv-pro.de/wp-content/uploads/2010/07/dance-tv-hd-screenie2.jpg
URL=mms://stream02.gtk.hu/dance_tvd
