[Desktop Entry]
Icon=video-x-generic
Type=Link
MType=vstream
LogoURL=http://userserve-ak.last.fm/serve/_/55132027/Deluxe+music+Logo.jpg
URL=rtmp://flash.cdn.deluxemusic.tv/deluxemusic.tv-live/web_850.stream
