[Desktop Entry]
Icon=video-x-generic
Type=Link
MType=vstream
LogoURL=http://www.tv14.net/wp-content/uploads/2010/09/NASA-TV-International-Space-Station.jpg
URL=http://nasa-f.akamaihd.net/public_h264_700@54826
