[Desktop Entry]
Icon=video-x-generic
Type=Link
MType=vstream
LogoURL=http://www.ndr.de/fernsehen/logo529_v-contentgross.jpg
URL=mms://a1969.l16055143968.c160551.e.lm.akamaistream.net/D/1969/160551/v0001/reflector:43968
