[Desktop Entry]
Icon=video-x-generic
Type=Link
MType=vstream
LogoURL=http://forum.team-mediaportal.com/data/attachments/36/36412-011919401abfe17cacc62a3f17d63f8f.jpg
URL=http://zdf_ios_de-i.akamaihd.net/hls/live/205933/de10_v1/high/playlist.m3u8
