[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://earthquake.usgs.gov/earthquakes/recenteqsww/Maps/world_moll/world_moll.gif
MType=anim
LogoURL=http://earthquake.usgs.gov/earthquakes/recenteqsww/Maps/world_moll/world_moll.gif
Comment=World - World

