[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://www.goes.noaa.gov/FULLDISK/GMVS.JPG
MType=image
LogoURL=http://www.goes.noaa.gov/FULLDISK/GMVS.JPG


