[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://blitzortung.tmt.de/Data/image_b_eu.png
MType=image
LogoURL=http://blitzortung.tmt.de/Data/image_b_eu.png
Comment= - 

