[Desktop Entry]
Icon=image-x-generic
Type=Link
MType=anim
URL=http://icons.wunderground.com/data/640x480/eu_st_anim.gif
LogoURL=http://icons.wunderground.com/data/640x480/eu_st_anim.gif
