[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://www.wetterzentrale.de/pics/D2u.jpg
MType=image
LogoURL=http://www.wetterzentrale.de/pics/D2u.jpg
Comment=Space - Space

