[Desktop Entry]
Icon=image-x-generic
Type=Link
MType=anim
URL=http://www.temis.nl/uvradiation/UVI/uvief0_w.gif
LogoURL=http://www.temis.nl/uvradiation/UVI/uvief0_w.gif
