[Desktop Entry]
Icon=image-x-generic
Type=Link
MType=anim
URL=http://www.ssec.wisc.edu/data/comp/latest_cmoll.gif
LogoURL=http://www.ssec.wisc.edu/data/comp/latest_cmoll.gif