[Desktop Entry]
Icon=image-x-generic
Type=Link
MType=anim
URL=http://sirocco.accuweather.com/sat_mosaic_400x300_public/IR/isawmerc.gif
LogoURL=http://sirocco.accuweather.com/sat_mosaic_400x300_public/IR/isawmerc.gif
