[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://thomas-wehr.eu/main-graphs/iss-location.jpg
LogoURL=http://thomas-wehr.eu/main-graphs/iss-location.jpg
