[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://images.ontwikkel.nl/iss/iss-map.jpg
MType=image
LogoURL=http://images.ontwikkel.nl/iss/iss-map.jpg
Comment= - 

