[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://static.die.net/moon/720.jpg
MType=image
LogoURL=http://static.die.net/moon/720.jpg
Comment=Moon - Moon

