[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://umbra.nascom.nasa.gov/images/latest_aia_193.gif
MType=image
LogoURL=http://umbra.nascom.nasa.gov/images/latest_aia_193.gif
Comment=Sun - Sun

