[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://umbra.nascom.nasa.gov/images/latest_aia_171.gif
MType=image
LogoURL=http://umbra.nascom.nasa.gov/images/latest_aia_171.gif
Comment=Sun - Sun

