[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://sohowww.nascom.nasa.gov/data/realtime/eit_304/1024/latest.jpg
LogoURL=http://sohowww.nascom.nasa.gov/data/realtime/eit_304/1024/latest.jpg