[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://www.goes.noaa.gov/FULLDISK/GEVS.JPG
MType=image
LogoURL=http://www.goes.noaa.gov/FULLDISK/GEVS.JPG
Comment=England - Londom

