[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://www.ssec.wisc.edu/data/comp/latest_cmoll.gif
MType=anim
LogoURL=http://www.ssec.wisc.edu/data/comp/latest_cmoll.gif
Comment=World - World

