[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://webflash.ess.washington.edu/L_plot_global_map.jpg
MType=image
LogoURL=http://webflash.ess.washington.edu/L_plot_global_map.jpg
Comment= - 

