[Desktop Entry]
Icon=image-x-generic
Type=Link
MType=rss-image
LogoURL=http://www.abendblatt.de/img/kultur-live/crop109321452/5190692067-ci3x2l-h307/title.jpg
URL=rss://www.abendblatt.de/?service=Rss
