[Desktop Entry]
Icon=image-x-generic
Type=Link
LogoURL=https://s3.amazonaws.com/ksr/photos/229/logo.full.jpg
MType=rss-image
URL=rss://lightbox.time.com/feed/
