[Desktop Entry]
Icon=image-x-generic
Type=Link
LogoURL=http://www.redorbit.com/media/themes/redorbit/images/logo_160x80.gif
MType=rss-image
URL=rss://www.redorbit.com/feeds/earth_iod.xml
