[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://www.rhein-zeitung.de/pu_rz/images/logo.gif
URL=http://www.rhein-zeitung.de/newsticker/popup.php
