[Desktop Entry]
Icon=text-html
Type=Link
MType=web
LogoURL=http://www.go-out.de/imperia/md/images/goout/neu/aktuell/800px-spiegel_online_logosvg1.png
URL=http://www.spiegel.de/
