[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://www.alsterwetter.de/aktuell.jpg
MType=image
LogoURL=http://www.alsterwetter.de/aktuell.jpg
Comment=Germany - Hamburg

