[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://antarctica.martingrund.de/ohig-pingi-z.jpg
MType=image
LogoURL=http://antarctica.martingrund.de/ohig-pingi-z.jpg
Comment=Antarctic - Antarctic

