[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://www.bucuticam.com/arubacam.jpg
MType=image
LogoURL=http://www.bucuticam.com/arubacam.jpg
Comment= - 

