[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://ci.wrl.unsw.edu.au/argus/kirra/latest/c1.snap.jpg
MType=image
LogoURL=http://ci.wrl.unsw.edu.au/argus/kirra/latest/c1.snap.jpg
Comment=Australia - Narabeen-Beach

