[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://londonwebcam.virtual-london.com/cam.jpg
MType=image
LogoURL=http://londonwebcam.virtual-london.com/cam.jpg
Comment=England - Londom

