[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://www.ikesou.jp/camDisp11.jpg
MType=image
LogoURL=http://www.ikesou.jp/camDisp11.jpg
Comment=Japan - Tosa

