[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://www.bbc.co.uk/england/webcams/live/lincoln4.jpg
MType=image
LogoURL=http://www.bbc.co.uk/england/webcams/live/lincoln4.jpg
Comment=England - Lincolnshire

