[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://mardelplatawebcam.com.ar/img/webcam_plaza_colon.jpg
MType=image
LogoURL=http://mardelplatawebcam.com.ar/img/webcam_plaza_colon.jpg
Comment=Argentinia - 

