[Desktop Entry]
Icon=image-x-generic
Type=Link
URL=http://www.rta.nsw.gov.au/trafficreports/cameras/camera_images/williamst.jpg
MType=image
LogoURL=http://www.rta.nsw.gov.au/trafficreports/cameras/camera_images/williamst.jpg
Comment=Australia - Sydney

