[Desktop Entry]
Icon=audio-x-generic
Type=Link
URL[$e]=rss://www.dradio.de/rss/podcast/sendungen/sternzeit/
LogoURL=http://www.dradio.de/images/64553/square/
