[Desktop Entry]
Icon=audio-x-generic
Type=Link
URL=rss://www.ndr.de/ndr2/start/fruehstueck_bei_stefanie/podcast/podcast2956.xml
LogoURL=http://www.ndr.de/mediathek/mediathekbild224_v-podcast.jpg
