[Desktop Entry]
Icon=audio-x-generic
Type=Link
URL=rss://www.ndr.de/podcast/podcast3002.xml
LogoURL=http://www.ndr.de/mediathek/mediathekbild236_v-podcast.jpg
