[Desktop Entry]
Icon=video-x-generic
Type=Link
URL=rss://www.ndr.de/podcastlink/extra3_videopodcast.xml
LogoURL=https://twimg0-a.akamaihd.net/profile_images/1472683687/extra3_128x128.jpg
MType=rss-video
