[Desktop Entry]
Icon=video-x-generic
Type=Link
URL=rss://www.tagesschau.de/export/video-podcast/tagesschau/
LogoURL=http://it-blogger.net/pics/ios/apps/tagesschau-app-for-ios.png
MType=rss-video
