[Desktop Entry]
Icon=video-x-generic
Type=Link
LogoURL=http://download.daserste.de/videoportal/Bild/c_200000/202106/format235716.jpg
URL=rss://www.daserste.de/podcasts/mam_dyn~id,434~weltspiegel.xml
MType=rss-video
